<!-- eslint-disable vue/no-deprecated-slot-attribute -->
<template>
  <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" :duration="2000">
    <div class="onboarding-text-primary">
      <div v-if="!pageLoadingState">
        <div class="q-px-lg q-pt-lg gt-xs">
          <div class="flex justifty-start itempt-center onboarding-text-accent-0 q-mt-sm q-mb-lg z gt-xs">
            <q-btn @click="$router.go(-1)" round dense flat icon="arrow_back" />
            <h5 class="text-26 text-semibold q-my-none q-ml-sm">
              {{ route.params.id ? 'Edit' : 'Create A New Task' }}
            </h5>
          </div>
        </div>
        <div class="onboarding-main-scroll standard-scroll padding-top-bottom-lg q-mb-xl">
          <q-form class="form" ref="newRangeForm" greedy @submit="addNewRange()">
            <!-- Task Title -->
            <div class="q-mt-md">
              <label class="text-weight-medium">Task Title <span class="text-red">*</span></label>
              <q-input
                dense
                borderless
                v-model="form.form_type"
                placeholder="Task name"
                :rules="[(val) => (val !== null && val !== '') || '']"
                hide-bottom-space
                style="width: 50%;"
                class="task-name onboarding-input-field standard onboarding-border-accent-0 onboarding-border-radius-12 q-mt-sm"
              />
            </div>

            <!-- Task Details -->
            <div v-for="(task, index) in keyResults" :key="index" class="q-mt-md">
              <div class="main-div black-border onboarding-border-radius-12 flex flex-column task-details" style="width: 50%;">
                <!-- Delete Icon -->
                <div class="flex justify-end">
                  <q-icon
                    name="delete"
                    size="24px"
                    class="cursor-pointer"
                    @click="removeKeyResult(index)"
                  />

                  <q-icon
                    name="arrow_drop_up"
                    size="24px"
                    class="cursor-pointer"
                  />
                </div>

                <!-- Task Name -->
                <div class="q-mt-md">
                  <label class="text-weight-medium">Task Name <span class="text-red">*</span></label>
                  <q-input
                    dense
                    borderless
                    v-model="task.task_name"
                    style="width: 100%;"
                    placeholder="Account Type"
                    :rules="[(val) => (val !== null && val !== '') || '']"
                    hide-bottom-space
                    class="onboarding-input-field standard onboarding-border-accent-0 onboarding-border-radius-12"
                  />
                </div>

                <!-- Time Input -->
                <div class="q-mt-md" style="width: 100%;">
                  <label class="text-weight-medium">Time </label>
                  <q-input
                    dense
                    borderless
                    v-model="task.time"
                    style="width: calc(100%);"
                    placeholder="00:00"
                    :rules="[(val) => (val !== null && val !== '') || '']"
                    hide-bottom-space
                    class="onboarding-input-field standard onboarding-border-accent-0 onboarding-border-radius-12"
                    readonly
                  >
                  <template v-slot:append>
                    <!-- Added clock icon -->
                    <q-icon @click="showTimePicker(index)"
                      name="access_time"
                      color="black"
                      size="24px"
                      class="q-ml-xs cursor-pointer"
                      @click.stop
                      slot="after"
                    />
                       </template>
                  </q-input>
                </div>
              </div>

              <!-- q-time Component (Conditionally Rendered) -->
              <div v-if="task.showTimePicker" class="custom-time-input" style="width: 50%;">
                <q-time flat dense rounded v-model="task.time" now-btn />
                <div class="q-time-buttons">
                  <q-btn
                    @click="cancelTime(index)"
                    :loading="btnLoadingState"
                    rounded
                    dense
                    flat
                    no-caps
                    label="Cancel"
                    class="onboarding-button onboarding-border-accent-0 text-black q-px-xl q-mt-lg q-mr-lg"
                  />
                  <q-btn
                    @click="saveTime(index)"
                    :loading="btnLoadingState"
                    rounded
                    dense
                    flat
                    no-caps
                    label="Save"
                    class="onboarding-button onboarding-border-accent-0 onboarding-bg-accent-0 text-white q-px-xl q-mt-lg"
                  />
                </div>
              </div>
            </div>

            <!-- Add Dashed -->
            <div v-if="!showAnyTimePicker" style="border: 1px dashed #249990; width: 50%" class="onboarding-border-radius-15 flex justify-center standard-form-width q-my-sm q-pa-md">
              <q-btn
                flat
                round
                class="onboarding-bg-accent-0 text-white onboarding-text-accent-1"
                id="generateKeyInput"
                @click="addKeyResult()"
                no-caps
                icon="add"
              />
            </div>

            <div class="buttons-container">
              <!-- Cancel Button -->
              <q-btn
                v-if="!showAnyTimePicker"
                :loading="btnLoadingState"
                type="submit"
                rounded
                dense
                flat
                no-caps
                to="or-numbers"
                label="Cancel"
                class="onboarding-button onboarding-border-accent-0 text-black q-px-xl q-mt-lg q-mr-lg"
              />

              <!-- Save Button -->
              <q-btn
              @click="showNotify()"
                v-if="!showAnyTimePicker"
                :loading="btnLoadingState"
                type="submit"
                rounded
                dense
                flat
                no-caps
                label="Save"
                to="or-numbers"
                class="onboarding-button onboarding-border-accent-0 onboarding-bg-accent-0 text-white q-px-xl q-mt-lg"
              />
            </div>
          </q-form>
        </div>
      </div>
      <q-inner-loading
        class="absolute-center onboarding-bg-primary text-20 full-width full-height onboarding-text-accent-0"
        :showing="pageLoadingState"
      />
    </div>
  </transition>
</template>

<script src="./scripts/AddNewRange.js"></script>

<style lang="scss">
@import "./styles/ORNumbers.scss";

// Additional Styles for Responsiveness
@media screen and (max-width: 767px) {
  .form {
    width: 100%;
  }

  .main-div {
    width: 100%;
  }

  .dashed-container {
    width: 100%;
  }

  .buttons-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #ffffff;
  }
}
</style>
