<template>

	<div class="bg-white" style=" border-radius: 10px; ">
    <h1 class="text-33 text-semibold">Dashboard</h1>
    <div style="padding: 100%;"></div>

</div>
</template>
<script></script>
<style lang="scss">
@import "./styles/ORNumbers.scss";
@import "../../css/onboarding.quasar.variables.scss";
</style>
