<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <div class="or-numbers">
      <div v-if="!pageLoadingState">
        <div class="q-px-lg q-pt-lg gt-xs">
          <div class="flex justify-between q-mt-sm q-mb-lg">
            <h5
              class="text-26 text-semibold q-my-none onboarding-text-accent-0"
            >
              To-do List
            </h5>

            <!-- Create a new task button -->
            <div :class="$q.screen.width < 767 && 'flex justify-end'">

              <q-btn
                flat
                rounded
                no-caps
                dense
                class="onboarding-border-accent-0 onboarding-bg-accent-0 text-white q-px-xl q-ml-md"
                to="add-new-range"
                label="Create new task"
              />
            </div>
          </div>

          <!-- Filter search -->
          <div class="flex justify-start q-mb-md gt-xs text-weight-medium">
            <q-label style="margin-left: 30px; margin-top: 5px;" > Filters: </q-label>
            <q-input
              borderless
              style="margin-left: 10px;"
              placeholder="Search"
              :input-style="{ padding: '10px'}"
              class="minmax-width
						onboarding-border-radius-50 onboarding-border-accent-0 onboarding-select-field
						height-31
						q-mr-md"
              />
        </div>
        </div>


        <div class="row justify-start">
          <div class="col-4 in-progress-card">
            <q-label class="text-weight-medium custom-element"
                    style="margin-left: 12.7%"> In Process</q-label>
          </div>

          <div class="col-5 done-progress-card">
            <q-label class="text-weight-medium custom-element"
                    style="margin-left: 40.1%"> Done </q-label>
          </div>
        </div>

        <!-- Loop through taskTables to render To-Do List tables -->
        <div class="row justify-center">
          <div
            class="col-md-6 q-pa-md onboarding-border-accent-0 onboarding-border-radius-10 inprogress todo-list-table with-margin"
            style="width: 45%; margin-right: 10px"
            v-for="(table, index) in taskTables"
            :key="index"
          >
            <q-expansion-item dense expand-separator :label="table.label">
              <template v-slot:header="{ expanded }">
                <q-item-section
                  v-if="!expanded"
                  class="onboarding-text-accent-0 text-semibold"
                >
                  Task Name
                </q-item-section>
                <q-item-section
                  v-if="!expanded"
                  side
                  class="onboarding-text-accent-0 text-semibold"
                >
                  January 0, 2024
                </q-item-section>
                <q-item-section
                  v-else
                  class="onboarding-text-accent-0 text-semibold"
                >
                  To-Do List
                </q-item-section>
                <q-item-section v-if="expanded" side>
                  <q-icon name="more_horiz" @click.stop="showOptions(table)" />
                  <q-menu
                    v-model="showMenu"
                    anchor="top right"
                    :menu-anchor="true"
                  >
                    <q-item clickable @click="editTask(table)">Edit</q-item>
                    <q-item clickable @click="confirm = true">Delete</q-item>
                  </q-menu>
                </q-item-section>
              </template>

              <q-card>
                <q-card-section class="q-pa-none">
                  <div class="col">
                    <q-list>
                      <q-item
                        v-for="(task, index) in table.tasks"
                        :key="index"
                        class="q-py-none"
                      >
                        <q-item-section>
                          <q-checkbox
                            v-model="task.checked"
                            color="blue"
                            :label="task.label"
                          />
                        </q-item-section>
                        <q-item-section>{{ task.time }}</q-item-section>
                      </q-item>
                    </q-list>
                  </div>
                  <div
                    class="text-right onboarding-text-accent-0 text-semibold"
                  >
                    January 0, 2024
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
        </div>
      </div>




      <q-inner-loading
        class="absolute-center onboarding-bg-primary text-20 full-width full-height onboarding-text-accent-0"
        :showing="pageLoadingState"
      />
      <MobileFilter :searchVisible="true" />
      <MainDialog :content="$options.components.DeleteConfirmation" />
    </div>
  </transition>
  <div>
    <q-dialog v-model="confirm" persistent>
      <q-card class="background-image-card">

        <q-card-section align="center">
          <div style="size: 200px;">
            <q-icon name = "info" class = "info"/>
          </div>

          <div style="color: white; font-size: 24px; font-weight: bold;">
            Are you sure you want to delete
            <div>
            this To-Do List?
          </div>
          </div>
          <div>

          </div>
          <div style="color: white; font-size: 14px; padding-top: 10px;">
            This process cannot be undone.
            <div>
By confirming, this account will be deleted. To go back Click “Cancel”
</div>
          </div>

        </q-card-section>

        <q-card-actions align="center">
          <q-btn  style="border: #249990 solid 1px; border-radius: 20px; width: 3cm;" flat label="Cancel" color="white" v-close-popup />
          <q-btn style="background-color: #249990; border: #249990 solid 1px; border-radius: 20px; width: 3cm;" flat label="Yes" color="white" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import ORNumbers from "./scripts/ORNumbers.js";
import { ref } from 'vue'
export default {
  data() {
    return {
      confirm: ref(false),
      pageLoadingState: false,
      taskTables: [
        {
          label: "In Process",
          tasks: [
            { label: "Task 1", time: "9:00 AM", checked: false },
            { label: "Task 2", time: "10:00 AM", checked: false },
          ],
        },
        {
          label: "Done",
          tasks: [],
        },
      ],
      showMenu: false,
    };
  },
  methods: {
    showOptions() {
      this.showMenu = !this.showMenu;
    },
    editTask(table) {
      const taskId = table.id;

      const route = taskId
        ? { name: "add-new-range", params: { id: taskId } }
        : { name: "add-new-range" };

      this.$router.push(route);
    },

  },
};
</script>

<style lang="scss">
@import "./styles/ORNumbers.scss";

.custom-element {
  background-color: #249990;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 2px;
}

/* Additional styling can be added here */
</style>
