<template>
  <q-popup-proxy
    ref="qTimeProxy"
    transition-show="scale"
    transition-hide="scale"
    v-model="visible"
  >
    <q-time
      minimal

      ref="qTimeProxy"
      v-model="selectedTime"
      @update:modelValue="updateSelectedTime"
      mask="HH:mm"
      class="custom-time-input"
    />
  </q-popup-proxy>
</template>

<script>
export default {
  props: {
    modelValue: Object, // Assuming selectedTime is a string
  },
  data() {
    return {
      visible: false,
      selectedTime: this.modelValue
        ? new Date(this.modelValue.hours, this.modelValue.minutes)
        : null, // Initialize selectedTime with the prop value
    };
  },
  methods: {
  updateSelectedTime(newValue) {
    // Check if newValue is a Date object
    if (newValue instanceof Date) {
      this.selectedTime = newValue;
      let timeObject = { hours: newValue.getHours(), minutes: newValue.getMinutes() };
      this.$emit('update:modelValue', timeObject); // Emit update event
    } else if (typeof newValue === 'string') {
      // Parse the time string into hours and minutes
      let [hours, minutes] = newValue.split(':').map(part => parseInt(part, 10));
      // Create a new Date object with the parsed hours and minutes
      let newDate = new Date(0, 0, 0, hours, minutes);
      this.selectedTime = newDate;
      let timeObject = { hours: hours, minutes: minutes };
      this.$emit('update:modelValue', timeObject); // Emit update event
    } else {
      console.error("Invalid date object received:", newValue);
    }
  }
}

};
</script>

<style lang="scss">
@import "./styles/ORNumbers.scss";
</style>
