// Pop up menu in table
.menu-container {
  width: 17%;
  padding: 5px;
}

// input container max width 142 in quantity input from range form
.container-wd-142 {
  max-width: 142px;

  & > .qty-input,q-time {
    max-width: 100%;
  }
}

.container-wd-mobile {
  max-width: calc(50% - 4px);

  & > .qty-input, q-time {
    max-width: 100%;
  }
}

// input container max width 292 in range inputs from range form
.container-wd-292 {
  max-width: 292px;

  & > .range-input, q-time {
    max-width: 50%;
  }
}

.custom-time-input .q-time {
  display: flex;
  // border: 1px solid #249990; /* Add border to the q-time component */
}

/* Other custom styles for various elements within the q-time component */
.custom-time-input .q-time__clock {
  color: #249990;
  font-weight: bold;
  background-color: white;
  // border: 1px solid #249990;
}

.custom-time-input .q-time__link {
  color: #000000;
  font-weight: bold;
}
.custom-time-input .q-time__link--active {
  color: #249990;
  font-weight: bold;
}
.custom-time-input .q-time__container-child {
  border: 1px solid #249990;
}
.custom-time-input .q-time__handle,
.custom-time-input .q-time__handle:after {
  background-color: #249990;
}
.custom-time-input .q-time__clock-position--active {
  color: #ffffff;
}
.custom-time-input .q-time__digit {
  color: #249990;
  font-weight: bold;
}

.custom-time-input .q-time__spacer {
  background-color: #249990;
}

.custom-time-input .q-time__clock-cursor,
.custom-time-input .q-time__clock-pointer,
.custom-time-input .q-time__clock-pointer::before{
  color: #249990;
}
.q-time__clock-position--active {
  background-color: #249990;
}
.q-time__header-label{
  color: black;
  font-weight: bold;
}

.custom-time-input{
  margin-top: 2%;
  border: 1px solid #249990;
  border-radius: 2%;
}

.q-time__link {
  opacity: 1;
}

.main-div {
  display: inline-block;
  flex-direction: column;
}
/* Style for the buttons inside the time clock container */
.q-time-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
}

.text-33{
  padding-left: 1cm;
  color: #249990;
}

.form{
  margin: 3%;
  width: 50%;
  padding: 4px;

}
.task-details {
  border: 1px solid #249990;
  padding: 15px;
}


.background-image-card {
  background-image: url('../../assets/onboarding-dialog-container.png');
  background-size: cover;
  box-shadow: none;
  background-color: transparent;
  width: 100%; /* Let the width be determined by the background image */
  height: 16.5cm; /* Let the height be determined by the background image */
  /* Other background properties */
}

.q-card > div:not(:first-child), .q-card > img:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  align-items:flex-start;
  text-align: center;
}

.q-btn__content  .qcard.buttons {
  box-shadow: none;
  border: #249990 solid 2px;
  border-end-end-radius:  30px;
  border-radius:  30px;
  width: 80px;
  text-align: center;

}
.q-card > div:not(:last-child), .q-card > img:not(:last-child) {
  padding-top: 175px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.info {
  color: #249990;
  font-size: 40px;
}
