<template>
  <div class="container bg-white q-pa-lg">
    <div class="login" >

      <div class="title" style="color: black;">
        <h1 class="flex justify-center text-33 text-semibold q-my-none"
        style="font-size: 60px;
        font-weight: bold;">LOG IN</h1>
      </div>

      <!---Form-->
      <div>
        <q-label class="text-20 q-my-none"> Username <span class="text-red"> * </span></q-label>
        <q-input
          rounded
          v-model="text"
          :dense="dense"
          style="background-color: white;
          border: 1px solid #249990; "
          label="Enter Username"
          label-color="gray"
          class="uname"
        >
        </q-input>
      </div>
      <div>
        <q-label class="text-20 q-my-none"> Password <span class="text-red"> * </span></q-label>
        <q-input
          rounded
          v-model="password"
          :type="isPwd ? 'password' : 'text'"
          :dense="dense"
          style="background-color: white;
          border: 1px solid #249990;"
          label="Enter Password"
          label-color="gray"
          class="pword"
          color="white"
        >
        </q-input>
      </div>

      <div>
        <q-btn
        to="onboarding/dashboard"
        unelevated
        rounded
        label="Log in" class="loginbtn" style="background-color: #249990;"/>
      </div>

      <div class="flex justify-center forgot">
        <q-btn flat unelevated class="forgotbtn" style="color: black;">Forgot Password?</q-btn>
      </div>

    </div>
  </div>
</template>
<script>
import { ref } from "vue";

export default {
  setup() {
    return {
      text: ref(""),
      ph: ref(""),
      dense: ref(false),
      password: ref(""),
      isPwd: ref(true),
    };
  },
};
</script>
<style lang="scss" scope>
//Desktop
.container {
  background-color: rgba(37, 44, 62, 1);
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  position: fixed;
  .title {
    color: white;
    font-family: "Source Sans Pro";
    font-weight: 700;

    min-height: 34px;
    min-width: 58px;
    font-size: 32px;
    white-space: nowrap;
  }
  .uname,
  .pword {
    border-radius: 12px;
    width: 500px;
    background-color: rgba(78, 86, 109, 1);
    color: white;
    padding-left: 19.6px;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0.8;
  }
  .uname {
    margin-top: 5px;
    margin-bottom: 30px;
  }
  .pword {
    margin-top: 5px;
  }
  .forgot {
    font-weight: 400;
    font-size: 16px;
    margin-top: 12px;
    text-align: right;
    color: white;
  }
  .forgotbtn {
    text-transform: capitalize;
  }

  .loginbtn {
    border-radius: 30px;
    background-color: #e0384a;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 400; // regular
    color: #ffffff;
    text-transform: none;
    text-align: center;
    padding: 2px 83px;
    height: 55px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
  }
}
//Mobile
@media screen and (max-width: 767px) {
  .container {
    height: 100%;

    .login {
      min-height: 374px;
      width: 320px;
      position: absolute;
    }
    .title {
      font-weight: 700;
      line-height: 22px;
      min-height: 34px;
      min-width: 58px;
      font-size: 22px;
    }
    .uname,
    .pword {
      border-radius: 12px;
      width: 320px;
    }
    .uname {
      margin-top: 5px;
      margin-bottom: 30px;
    }
    .pword {
      margin-top: 5px;
    }
    .forgot {
      font-weight: 400;
      line-height: 15px;
      margin-top: 12px;
      text-align: right;
      color: white;
    }

    .loginbtn {
      border-radius: 8px;

      font-size: 16px;
      height: 32px;
      font-weight: bold;
      width: 100%;
    }
  }
}
//Tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    min-width: 768px;
    max-height: 1024px;
    .login {
      min-height: 334px;
      width: 549px;
      position: absolute;
    }
    .title {
      font-size: 20px;
    }
    .uname,
    .pword {
      width: 546px;
    }
    .uname {
      margin-top: 5px;
      margin-bottom: 30px;
    }
    .pword {
      margin-top: 5px;
    }
    .forgot {
      font-size: 16px;
    }

    .loginbtn {
      border-radius: 20px;

      font-size: 14px;
      height: 41px;
    }
  }
}

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600");
</style>
